{% load materializecss %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
      $(document).ready(function(){
        $('.datepicker').datepicker();
       });
       $(document).ready(function(){
         $('.collapsible').collapsible();
       });
       $(document).ready(function(){
         $('.modal').modal();
        });
    </script>
    <!-- Compiled and minified CSS -->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Hiring lastmile system</title>
    <style>
    .rectangle {
    width: 100%;
    padding: 50px;
    margin: 1.66%;
    align-items: center;
    background-color: #00a388;
    position: relative;
    text-align: center;
    border-radius: 10px;
    }
    .rectangle1 {
    width: 100%;
    padding: 50px;
    margin: 1.66%;
    align-items: center;
    background-color: #4cd137;
    position: relative;
    text-align: center;
    border-radius: 10px;
    }
    a{
    text-decoration: none;
    color: black;
    }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="large material-icons" style="margin-left: 8px;">work</i>Welcome {% if user.is_authenticated %} {{ user.username }} {% endif %}👋</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'loginuser' %}">Login</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a id="dont" href="{% url 'contacts:home' %}">Contacts</a></li>
            <li><a id="dont" href="{% url 'funnels:starterforfunnel' %}">Funnel</a></li>
            <li><a id="dont" href="#">Stats</a></li>
            <li>
                <a href="#" onclick="$('#signOutBtn').click()">Logout</a>
                <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                     {% csrf_token %}
                     <button id="signOutBtn" type="submit">Logout</button>
                 </form>
            </li>
            {% endif %}
        </ul>
</nav>
<br>
{% block content %}

{% endblock %}

</body>
</html>