{% load materializecss %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}
    <title>Hiring lastmile system</title>
    <style>
    .rectangle {
    width: 100%;
    padding: 50px;
    margin: 1.66%;
    align-items: center;
    background-color: #00a388;
    position: relative;
    text-align: center;
    border-radius: 10px;
    }
    a{
    text-decoration: none;
    color: black;
    }
    </style>
</head>
<body>
{% block javascript %}
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
{% endblock javascript %}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="large material-icons" style="margin-left: 8px;">work</i>Welcome {% if user.is_authenticated %} {{ user.username }} {% endif %}👋</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'loginuser' %}">Login</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'contacts:home' %}">Contacts</a></li>
            <li><a href="{% url 'funnels:starterforfunnel' %}">Funnel</a></li>
            <li><a href="#">Stats</a></li>
            <li>
                <a href="#" onclick="$('#signOutBtn').click()">Logout</a>
                <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                     {% csrf_token %}
                     <button id="signOutBtn" type="submit">Logout</button>
                 </form>
            </li>
            {% endif %}
        </ul>
</nav>
<br>
{% block content %}

{% endblock %}

</body>
</html>