{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="container" style="margin-top:50px ;">

  <h3 style="text-align: center;">Funnel<h4></h4>
  <div class="row">
    <div class="col s4"><div class="rectangle"><a class="flow-text" href="#">Create one</a></div></div>
    <div class="col s4"><div class="rectangle"><a  class="flow-text" href="#">Current funnel</a></div></div>
    <div class="col s4"><div class="rectangle"><a  class="flow-text" href="#">Completed ones</a></div></div>
  </div>

</div>

{% endblock %}