{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="container">
    {% if objs %}
        {% for obj in objs %}
        <div class="card teal lighten-1">
            <div class="card-content white-text">
                <p>{{ obj.template }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'funnels:editcustomtemplate' obj.id %}">
                    Edit the template
                </a>
            </div>
        </div>
        {% endfor %}    
    {% else %}
    <h2 style="text-align: center;"><i class="material-icons medium">cloud_off</i> No templates found</h2>
    {% endif %}
</div>
{% endblock %}
