{% extends "contacts/base.html" %}
{% load materializecss %}
{% block content %}

<!-- <div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col s5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|materializecss }}
                <button style="margin-left:0.7em;" class="btn green" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="col s4" style="margin-left: 80px;">
            <label>Enter your contact manually</label><br>
            <a href="{% url 'contacts:manualEntry' %}" class="btn green">Click here<i class="material-icons right">edit</i></a>
        </div>
    </div>
</div> -->
{% if messages %}
{% for message in messages %}
<div class="card-alert card green lighten-2">
    <div class="card-content black-text">
        <strong>success!</strong> {{ message }}
    </div>
    <button type="button" class="close black-text" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="container" style="margin-top:50px ;">
    <form action="" method="POST" enctype="multipart/form-data">
        <fieldset>
        <legend><h5>UPLOAD CSV/XLSX file 📁</h5></legend>
        {% csrf_token %}
        {{ form|materializecss }}
        <button  class="btn green" type="submit">Submit
            <i class="material-icons right">attach_file</i>
        </button>
        </fieldset>
    </form>
    <br>
    <h5 class="center-align">---- OR ----</h5>
    <div class="input-field">
        <fieldset>
            <legend><h5>Manual Entry of contacts✍️</h5></legend>
            <label>Fill the form</label><br>
            <a href="{% url 'contacts:manualEntry' %}" class="btn green">Click here<i class="material-icons right">edit</i></a>
        </fieldset>
    </div>

</div>
   

{% endblock %}
