{% extends "contacts/base.html" %}
{% load materializecss %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {% for name in names %}                       
        {{name}}:  
        <select class="form-select" name="{{name}}">
        {% for field in fields %}
            <option value={{field}}>{{field}}</option>    
        {% endfor %}
        </select>
        {% endfor %}
        <br>
        <input class="btn btn-success" type="submit" value="submit">
    </form>
</div>
<br>
{% endblock %}